html, body {
  overflow-x: hidden;
}

.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
 padding-right: 0px !important;
}

#slideshow .carousel, .carousel-item, .active {
    height: 100%;
}

#slideshow .carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-main {
    text-shadow: 0px 0px 5px #000;
}

.slide-sub {
    padding: 0px !important;
    margin-top: 0px !important;
    text-shadow: 0px 0px 5px #333;
}

.no-p {
    margin-bottom: 70px !important;
    padding: 0px !important;
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .content-section {
        padding: 25px 0px;
    }

    .dynamic-container {
        width: 97.5%;
    }

    .section-heading {
        font-size: 30px;
        text-align: center;
    }

    .click-indicator-text {
        text-align: center;

        font-size: 12px;

        padding-bottom: 50px;
    }

    .sub-header {
        font-size: 20px;
    }

    .sub-header-left {
        font-size: 20px;
    }

    .p-mid {
        font-size: 12px;
    }

    .footer-content {
        display: none;
    }

    .copyright {
        padding-top: 25px;
    }

    .skill-set-image {
        height: 75px;
        width: 75px;
    }

    .highlight-image {
        height: 150px;
        width: 150px;
    }

    #email-me-form input, textarea {
        width: 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .content-section {
        padding: 25px 0px;
    }

    .dynamic-container {
        width: 97.5%;
    }

    .section-heading {
        font-size: 35px;
        text-align: center;
    }

    .click-indicator-text {
        text-align: center;

        font-size: 12px;

        padding-bottom: 50px;
    }

    .sub-header {
        font-size: 25px;
    }

    .sub-header-left {
        font-size: 25px;
    }

    .p-mid {
        font-size: 12px;
    }

    .footer-content {
        display: none;
    }

    .copyright {
        padding-top: 25px;
    }

    .skill-set-image {
        height: 75px;
        width: 75px;
    }

    .highlight-image {
        height: 150px;
        width: 150px;
    }

    #email-me-form input, textarea {
        width: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .content-section {
        padding: 50px 0px;
    }

    .dynamic-container {
        width: 97.5%;
    }

    .section-heading {
        font-size: 35px;
        text-align: left;
    }

    .click-indicator-text {
        text-align: left;

        font-size: 14px;

        padding-bottom: 75px;
    }

    .sub-header {
        font-size: 25px;
    }

    .sub-header-left {
        font-size: 25px;
    }

    .sub-header-footer {
        font-size: 25px;
    }

    .p-mid {
        font-size: 14px;
    }

    .footer-link {
        font-size: 14px;
    }

    .footer-content {
        display: none;
    }

    .copyright {
        padding-top: 25px;
    }

    .skill-set-image {
        height: 100px;
        width: 100px;
    }

    .highlight-image {
        height: 200px;
        width: 200px;
    }

    #email-me-form input, textarea {
        width: 100%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .content-section {
        padding: 100px 0px;
    }

    .dynamic-container {
        width: unset;
    }

    .section-heading {
        font-size: 45px;
        text-align: left;
    }

    .click-indicator-text {
        text-align: left;

        font-size: 16px;

        padding-bottom: 100px;
    }

    .sub-header {
        font-size: 30px;
    }

    .sub-header-left {
        font-size: 30px;
    }

    .sub-header-footer {
        font-size: 30px;
    }

    .p-mid {
        font-size: 16px;
    }

    .footer-link {
        font-size: 16px;
    }

    .footer-content {
        display: unset;
    }

    .copyright {
        padding-top: 100px;
    }

    .skill-set-image {
        height: 150px;
        width: 150px;
    }

    .highlight-image {
        height: 200px;
        width: 200px;
    }

    #email-me-form input, textarea {
        width: 80%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .content-section {
        padding: 100px 0px;
    }

    .dynamic-container {
        width: unset;
    }

    .section-heading {
        font-size: 45px;
        text-align: left;
    }

    .click-indicator-text {
        text-align: left;

        font-size: 16px;

        padding-bottom: 100px;
    }

    .sub-header {
        font-size: 30px;
    }

    .sub-header-left {
        font-size: 30px;
    }

    .sub-header-footer {
        font-size: 30px;
    }

    .p-mid {
        font-size: 16px;
    }

    .footer-link {
        font-size: 20px;
    }

    .footer-content {
        display: unset;
    }

    .copyright {
        padding-top: 100px;
    }

    .skill-set-image {
        height: 150px;
        width: 150px;
    }

    .highlight-image {
        height: 275px;
        width: 275px;
    }

    #email-me-form input, textarea {
        width: 80%;
    }
}

.nav-background {
    background-color: #333;
}

.nav-theme a {
    color: #ffffff;
}

.nav-theme a:hover {
    color: #E0E0E0;
}

.section-heading {
    font-family: "Raleway";

    text-decoration: underline;

    padding-bottom: 100px;
}

.has-text-under {
    padding-bottom: 5px;
}

.click-indicator-text {
    font-family: "Raleway";
}

.section-light {
    background-color: #ffffff;
}

.section-dark {
    background-color: #f5f5f5;
}

.sub-header {
    font-family: "Raleway";

    text-align: center;
    text-decoration: underline;
}

.sub-header-footer {
    font-family: "Raleway";

    text-align: center;
    text-decoration: underline;

    padding-top: 50px;
    padding-bottom: 20px;
}

.modal-launcher {
    cursor: pointer;
}

.modal-title {
    font-family: "Raleway";
    font-size: 27px;

    text-align: left;
}

.modal-sub-title {
    font-family: "Raleway";
    font-size: 23px;

    text-align: left;
}

.modal-text {
    padding: 15px 15px 15px 0px;
    font-size: 16px;
}

.modal-link {
    color: #212121;
}

.modal-link:hover {
    color: #000000;
}

#doodle-jump-modal .modal-body {
    position: relative;
}

.sub-header-left {
    font-family: "Raleway";

    text-align: left;
    text-decoration: underline;
}

.skill-set-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 50px auto;

    cursor: pointer;
}

#desktop {
    background-image: url("../images/desktop.png");
}

#mobile {
    background-image: url("../images/mobile.png");
}

#web {
    background-image: url("../images/web.png");
}

#database {
    background-image: url("../images/database.png");
}

#user-interface {
    background-image: url("../images/user-interface.png");
}

#uml {
    background-image: url("../images/uml.png");
}

.highlight-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 50px auto;

    border-radius: 5px;
    box-shadow: 0px 0px 5px #333;
}

#car-hire {
    background-image: url("../images/car-hire.png");
}

#rusty-repairs {
    background-image: url("../images/rusty-repairs.png");
}

#careers-app {
    background-image: url("../images/careers-app.png");
}

#doodle-jump {
    background-image: url("../images/doodle-jump.png");
}

#pong {
    background-image: url("../images/pong.png");
}

#flappy-bird {
    background-image: url("../images/flappy-bird.png");
}

.footer-link {
    font-family: "Raleway";

    text-align: left;

    padding: 5px 5px 5px 0px;
}

.no-underline {
    text-decoration: none;
}


.logo-wrapper {
    text-align: center;
}

.p-mid {
    font-family: "Raleway";

    text-align: left;
}

#email-me-form {
    width: 100%;
}

#email-me-form span {
    color: red;
}

#email-me-form input {
    font-family: "Raleway";
    font-size: 16px;

    margin: 0px 0px 15px 0px;
}

#email-me-form textarea {
    height: 145px;

    margin: 0px 0px 15px 0px;

    font-family: "Raleway";
    font-size: 16px;
}

.network-link {
    color: #212121;
}

.network-link:hover {
    color: #000000;
}

#submit-button {
    height: 50px;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.padded {
    padding-bottom: 15px;
}

.extra-padded {
    padding-bottom: 30px;
}

.extra-padding-top {
    padding-top: 15px;
}

.extra-padding-bottom {
    margin-bottom: 30px;
}

.section-black {
    background-color: #333;
}

#footer a {
    color: #ffffff;
}

#footer a:hover {
    text-decoration: underline;

    cursor: pointer;
}

.text-white {
    color: #ffffff;
}
