html, body {
  overflow-x: hidden;
}

.navbar-brand, .navbar a {
    font-family: "Raleway", arial;
}

/* code for the welcome section */

#welcome-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* end of code for the welcome section */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-main {
    text-shadow: 0px 0px 5px #000;
}

.slide-sub {
    padding: 0px !important;
    margin-top: 0px !important;
    text-shadow: 0px 0px 5px #333;
}

.no-p {
    margin-bottom: 70px !important;
    padding: 0px !important;
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .content-section {
        padding: 25px 0px;
    }

    .dynamic-container {
        width: 97.5%;
    }

    .section-heading {
        font-size: 30px;
        text-align: left;
    }

    .click-indicator-text {
        text-align: center;

        font-size: 12px;

        padding-bottom: 50px;
    }

    .sub-header {
        font-size: 20px;
    }

    .sub-header-left {
        font-size: 20px;
    }

    .p-mid {
        font-size: 12px;
    }

    .footer-content {
        display: none;
    }

    .copyright {
        padding-top: 25px;
    }

    .skill-set-image {
        height: 75px;
        width: 75px;
    }

    .highlight-image {
        height: 150px;
        width: 150px;
    }

    #email-me-form input, textarea {
        width: 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .content-section {
        padding: 25px 0px;
    }

    .dynamic-container {
        width: 97.5%;
    }

    .section-heading {
        font-size: 35px;
        text-align: left;
    }

    .click-indicator-text {
        text-align: center;

        font-size: 12px;

        padding-bottom: 50px;
    }

    .sub-header {
        font-size: 25px;
    }

    .sub-header-left {
        font-size: 25px;
    }

    .p-mid {
        font-size: 12px;
    }

    .footer-content {
        display: none;
    }

    .copyright {
        padding-top: 25px;
    }

    .skill-set-image {
        height: 75px;
        width: 75px;
    }

    .highlight-image {
        height: 150px;
        width: 150px;
    }

    #email-me-form input, textarea {
        width: 100%;
    }


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .content-section {
        padding: 50px 0px;
    }

    .dynamic-container {
        width: 97.5%;
    }

    .section-heading {
        font-size: 35px;
        text-align: left;
    }

    .click-indicator-text {
        text-align: left;

        font-size: 14px;

        padding-bottom: 75px;
    }

    .sub-header {
        font-size: 25px;
    }

    .sub-header-left {
        font-size: 25px;
    }

    .sub-header-footer {
        font-size: 25px;
    }

    .p-mid {
        font-size: 14px;
    }

    .footer-link {
        font-size: 14px;
    }

    .footer-content {
        display: none;
    }

    .copyright {
        padding-top: 25px;
    }

    .skill-set-image {
        height: 100px;
        width: 100px;
    }

    .highlight-image {
        height: 200px;
        width: 200px;
    }

    #email-me-form input, textarea {
        width: 100%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .content-section {
        padding: 100px 0px;
    }

    .dynamic-container {
        width: unset;
    }

    .section-heading {
        font-size: 45px;
        text-align: left;
    }

    .click-indicator-text {
        text-align: left;

        font-size: 16px;

        padding-bottom: 100px;
    }

    .sub-header {
        font-size: 30px;
    }

    .sub-header-left {
        font-size: 30px;
    }

    .sub-header-footer {
        font-size: 30px;
    }

    .p-mid {
        font-size: 16px;
    }

    .footer-link {
        font-size: 16px;
    }

    .footer-content {
        display: unset;
    }

    .copyright {
        padding-top: 100px;
    }

    .skill-set-image {
        height: 150px;
        width: 150px;
    }

    .highlight-image {
        height: 200px;
        width: 200px;
    }

    #email-me-form input, textarea {
        width: 80%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .content-section {
        padding: 100px 0px;
    }

    .dynamic-container {
        width: unset;
    }

    .section-heading {
        font-size: 45px;
        text-align: left;
    }

    .click-indicator-text {
        text-align: left;

        font-size: 16px;

        padding-bottom: 100px;
    }

    .sub-header {
        font-size: 30px;
    }

    .sub-header-left {
        font-size: 30px;
    }

    .sub-header-footer {
        font-size: 30px;
    }

    .p-mid {
        font-size: 16px;
    }

    .footer-link {
        font-size: 20px;
    }

    .footer-content {
        display: unset;
    }

    .copyright {
        padding-top: 100px;
    }

    .skill-set-image {
        height: 150px;
        width: 150px;
    }

    .highlight-image {
        height: 275px;
        width: 275px;
    }

    #email-me-form input, textarea {
        width: 80%;
    }
}

.nav-background {
    background-color: #333;
}

.nav-theme a {
    color: #ffffff;
}

.nav-theme a:hover {
    color: #E0E0E0;
}

.section-heading {
    font-family: "Raleway";

    text-decoration: underline;

    padding-bottom: 8%;
}

.has-text-under {
    padding-bottom: 5px;
}

.click-indicator-text {
    font-family: "Raleway";
}

.section-light {
    background-color: #ffffff;
}

.section-dark {
    background-color: #f5f5f5;
}

.sub-header {
    font-family: "Raleway";

    text-align: center;
    text-decoration: underline;
}

.sub-header-footer {
    font-family: "Raleway";

    text-align: center;
    text-decoration: underline;

    padding-top: 50px;
    padding-bottom: 20px;
}


.sub-header-left {
    font-family: "Raleway";

    text-align: left;
    text-decoration: underline;
}

.p-mid {
    font-family: "Raleway";

    text-align: left;
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.padded {
    padding-bottom: 15px;
}

.extra-padded {
    padding-bottom: 30px;
}

.extra-padding-top {
    padding-top: 15px;
}

.extra-padding-bottom {
    margin-bottom: 30px;
}

/* code for experience section */

.experience-photo {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 0;
    margin: 0;
}

.GE {
    background-image: url("../images/GE.png");
}

.BTL {
    background-image: url("https://pbs.twimg.com/profile_images/1064818443826941953/2XBiNgv5_400x400.jpg");

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 50%;

    margin-left: 5px !important;
    margin-top: 2px !important;
}

.u-o-p {
    background-image: url("../images/plym_uni.png");

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 50%;

    margin-left: 5px !important;
}

.compsoc {
    background-image: url("../images/compsoc.jpg");

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 50%;

    margin-left: 5px !important;
    margin-top: 2px !important;
}

@media only screen and (min-width : 480px) {
    .experience-photo {
        height: 95px;
        width: 95px;
    }

    .BTL {
        height: 90px !important;
        width: 90px !important;
    }

    .u-o-p {
        height: 110px !important;
        width: 100px !important;
        margin-top: -15px !important;
    }

    #btl-header, #uop-header {
        max-width: unset !important;
    }

    #btl-col-container {
        max-width: 285px;
    }

    #uop-col-container {
        max-width: 335px;
    }
}

@media only screen and (max-width : 479px) {
    .experience-photo {
        height: 80px;
        width: 80px;

        margin-top: 5px;
    }

    .BTL {
        height: 80px !important;
        width: 80px !important;
    }

    .u-o-p {
        height: 100px !important;
        width: 90px !important;
        margin-top: -12px !important;
    }

    #btl-header {
        max-width: 200px;
    }

    #uop-header {
        max-width: 220px;
    }

    #btl-col-container {
        max-width: 250px;
    }

    #uop-col-container {
        max-width: 250px;
    }
}

@media only screen and (max-width : 767px) {
    #uop-image-container {
        margin: 0 10px 0 0 !important;
    }
}

@media only screen and (min-width : 768px) {
    #uop-image-container {
        margin: 0 20px 0 0 !important;
    }
}

@media only screen and (max-width : 370px) {
    .BTL, .experience-photo, .hidden-xs {
        display: none;
    }
}

.comp-header {
    font-size: unset !important;
    text-decoration: none !important;
}

/* end of code for experience section */

/* skill section */

.skill-logo {
    border-radius: 100%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.web-app-dev {
    background-image: url("../images/php.png");
}

.desktop-dev {
    background-image: url("../images/dotnet.png");
}

.mobile-dev {
    background-image: url("../images/android_logo.png");
}

.database-dev {
    background-image: url("../images/mysql.png");
}

.ui-dev {
    background-image: url("../images/html.png");
}

.devops-dev {
    background-image: url("../images/jenkins.png");
}

.skill-header {
    font-family: "Raleway";
    margin-top: 5px;
}

.skill-item {
    font-family: "Raleway";
    color: darkgray;
    margin-top: 5px;
}

.parent {
    position: relative;
    width: 100%;
    height: 100%;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (min-width : 1200px) {
    .skill-logo {
        height: 75px;
        width: 75px;

        margin: 15px 0;
    }

    .skill-image-container {
        max-width: 125px !important;
    }
}

@media only screen and (max-width : 1199px) {
    .skill-logo {
        height: 60px;
        width: 60px;

        margin: 10px 0;
    }

    .skill-image-container {
        max-width: 110px !important;
    }

    .skill-header {
        margin-top: 5px;
        font-size: 18px;
    }

    .skill-item {
        margin-top: 5px;
        font-size: 15px;
    }

}

@media only screen and (min-width : 992px) {
    #contact-details-container {
        padding-left: 50px;
    }
}

@media only screen and (max-width : 991px) {
    .skill-header {
        margin-top: 5px;
        font-size: 14px;
    }

    .skill-item {
        margin-top: 5px;
        font-size: 12px;
    }


}

@media only screen and (max-width : 767px) {
    .skill-logo {
        margin: 15px 0;
    }

    .skill-header {
        margin-top: 5px;
    }

    .skill-item {
        margin-top: 5px;
    }
}

@media only screen and (max-width : 400px) {
    .skill-logo {
        margin: 15px 0;
        height: 50px;
        width: 50px;
    }

    .skill-header {
        margin-top: 5px;
    }

    .skill-item {
        margin-top: 5px;
    }
}

/* end of skill section */

/* contact section */

.formspree-input {
    font-family: "Raleway", arial;
    margin-bottom: 10px;
    padding: 10px;

    width: 100%;
}

.formspree-button {
    cursor: pointer;
}

.contact-photo {
    -webkit-background-size: cover;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


    padding: 0;
    margin: 0;
}

.contact-photo {
    background-image: url("../images/main_image.png");
}

@media only screen and (min-width : 576px) {
    .contact-photo-container {
        max-width: 200px;
    }

    .contact-photo {
        height: 150px;
        width: 150px;
    }

    #contact-details {
        padding-top: 40px;
    }
}

@media only screen and (max-width : 575px) {
    .contact-photo-container {
        max-width: 150px;
    }

    .contact-photo {
        height: 100px;
        width: 100px;
    }

    #contact-details {
        padding-top: 50px;
    }
}

.contact-download-h6 {
    color: unset !important;
}

/* end of contact section */

.section-black {
    background-color: #333;
}

.text-white {
    color: #ffffff;
}

#copyright {
    padding: 10px;
    margin: 0;
}
